<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Data</h2>
            <p>The data is available for download <a
                    href="https://drive.google.com/file/d/1FVPOkNiQioJJ1A-NTy3YnoWYJZheCjPg/view?usp=sharing">here</a>.
                The data collected for this project has the following columns.</p>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Columns</h3>
                <div class="resume-item">
                    <h4>auction_id</h4>
                    <p><em>the unique id of the online user who has been presented the BIO. In standard terminologies
                            this is
                            called an impression id. The user may see the BIO questionnaire but choose not to respond.
                            In that case
                            both the yes and no columns are zero.
                        </em>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>experiment</h4>
                    <p><em>which group the user belongs to - control or exposed. </em>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>date</h4>
                    <p><em>the date in YYYY-MM-DD format. </em>
                    </p>
                </div>

                <div class="resume-item">
                    <h4>hour</h4>
                    <p><em> the hour of the day in HH format. </em>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>device_make</h4>
                    <p><em> the name of the type of device the user has e.g. Samsung
                        </em>
                    </p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">...</h3>

                <div class="resume-item">
                    <h4>platform_os</h4>
                    <p><em> the id of the OS the user has.
                        </em>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>browser</h4>
                    <p><em> the name of the browser the user uses to see the BIO questionnaire.
                        </em>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>yes</h4>
                    <p><em> 1 if the user chooses the “Yes” radio button for the BIO questionnaire.
                        </em>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>no</h4>
                    <p><em> 1 if the user chooses the “No” radio button for the BIO questionnaire.
                        </em>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->